@import "tailwindcss";


Define CSS variables for light and dark themes
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

:root {
  --font-manrope: var(--font-manrope);
}

body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}